<footer id="footer">
    <div class="footer-title">
        <div>
             <h3>Orkids School</h3>
        </div>
        <div class="socials">
            <a href="https://web.facebook.com/profile.php?id=100063568420666" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>
    </div>
    <div class="content">
        <div class="about-foot fade-in-up">
            <h4>About Us</h4>
            <p>Empowering minds, shaping futures. Join Orkids School for excellence in education and holistic development.</p>

            <div class="">

            </div>
            <div class="">
                <h5 class="news">Sign Up For Our News Letter</h5>
            </div>
            <div class="email">
                <div class="subscription">
                    sign up successful!
                </div>
                <form id="subscribeForm" action="/subscribe" method="POST">
                    <input id="emailInput" type="email" placeholder="Email Address" name="email">
                    <button type="submit" value="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="contact fade-in-up">
            <h4>Contact</h4>
            <div class="sub-cont">
                <i class="fa-solid fa-location-dot"></i>
                <div class="loc">
                    <p>Address</p>
                    <p><strong> 6. University Crescent, off Oba Olagbegi Estate, Osuntokun Avenue, Bodija, Ibadan.</strong></p>
                </div>
            </div>
            <div class="sub-cont">
                <i class="fa-solid fa-phone"></i>
                <div class="loc">
                    <p>Phone Number</p>
                    <p><strong><a href="tel:+2347065131027">Call Us</a></strong></p>
                </div>

            </div>
            <div class="sub-cont">
                <i class="fa-solid fa-envelope"></i>
                <div class="loc">
                    <p>Email</p>
                    <a href="mailto:Orkidschool14@gmail.com">Orkidschool14@gmail.com</a>
                </div>

            </div>
        </div>
        <div class="events fade-in-up">
            <h4>Events</h4>

            <div class="event">
                <div class="img12">
                    <img src="https://res.cloudinary.com/dxiqrdmzu/image/upload/f_auto,q_auto/v1/Testimonial%20folder/rxobihfhelhhhokxatyz" alt="">
                </div>
                <div class="">
                    <strong>Please vist the Events page</strong>
                    <p><i class="fa-regular fa-calendar-days"></i> NA</p>
                </div>
            </div>

            <div class="event">
                <div class="img12">
                    <img src="https://res.cloudinary.com/dxiqrdmzu/image/upload/f_auto,q_auto/v1/Testimonial%20folder/w5uqy1gdxxgdygbxsrwt" alt="">
                </div>
                <div class="">
                    <strong>Please vist the Events page</strong>
                    <p><i class="fa-regular fa-calendar-days"></i> NA</p>
                </div>
            </div>
        </div>
    </div>

    </div>
    <div class="top"><a href="#" id="backToTop"><i class="fa-solid fa-arrow-up"></i></a></div>
</footer> 
<script src="/event.js"></script>